body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
}

/* 1. Estilo da navegação*/
header {
    width: 100%;
    background-color: white;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 80px;
    box-sizing: border-box;
}
.logo img {
    height: 80px;
    width: auto;
    vertical-align: middle;
}
nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav a.menu-item {
    text-decoration: none;
    color: #555;
    font-size: 1rem;
    font-weight: bold;
}
nav a.menu-item:hover {
    color: rgb(56, 142, 60);
}
a.btn-registar {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #337ab7;
    padding: 0.6rem 1rem;
    border-radius: 6px;
}
a.btn-registar:hover {
    background-color: #286090;
}